<input *ngIf="blocksNames.length === 1" type="file" (change)="onFolderSelected($event)" webkitdirectory multiple/>
<div class="general-block">
  <h2>Archivos cargados</h2>
  <div cdkDropList
       [cdkDropListData]="allFileList"
       [cdkDropListConnectedTo]="blocksNames"
       class="list"
       (cdkDropListDropped)="drop($event)">
    <div class="box" *ngFor="let item of allFileList" cdkDrag>{{item.name}}</div>
  </div>
</div>

<pre></pre>

<div class="container-block" *ngFor="let group of groupsFileList; let i = index">
  <h2>{{groupsNames[i]}}</h2>
  <div cdkDropList
       [cdkDropListData]="groupsFileList[i]"
       [cdkDropListConnectedTo]="blocksNames"
       class="list"
       (cdkDropListDropped)="drop($event)">
    <div class="box" *ngFor="let item of groupsFileList[i]" cdkDrag>{{item.name}}</div>
  </div>
</div>
